annotated-types==0.7.0
certifi==2025.11.12
charset-normalizer==3.4.4
guidata==3.1.0
guiqwt==4.4.5
h5py==3.15.1
idna==3.11
numpy==2.4.0
packaging==25.0
pillow==12.0.0
pydantic_core==2.41.5
pyqt-tools==1.0.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.2
PyQt6==6.10.1
PyQt6-Qt6==6.10.1
PyQt6_sip==13.10.3
PythonQwt==0.15.0
QtPy==2.4.3
requests==2.32.5
scipy==1.16.3
tomli==2.3.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.2
